<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Gestión de Países</title>

  <!-- Vinculamos el archivo de estilos -->
  <link rel="stylesheet" href="/src/public/css/style.css">
</head>
<body>

  <!-- Encabezado principal de la página -->
  <%- include('partials/header') %>
  <%- include('partials/navbar') %>
  
  <!-- Sección principal: acá se renderiza el contenido dinámico (body) de cada vista -->
  <main>
    <%- body %>
  </main>
  
  <%- include('partials/footer') %>

</body>
</html>