<footer>
  <p>&copy; 2025 - Fabricio Diaz</p> 

  <a 
    href="https://github.com/FabricioDiazC/Sprint5_Rec.git" 
    class="github-link" 
    target="_blank" 
    rel="noopener noreferrer"
  >
    <img src="/images/github.svg" alt="Logo de GitHub">
    Ver Repositorio
  </a>
</footer>