<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Gestor de Países</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1> Países Hispanohablantes</h1>
  </header>
  <!--
  <nav>
    <a href="/paises">Dashboard</a> |
    <a href="/paises/agregar">Agregar País</a> |
    <a href="/acerca-de">Acerca de</a>
  </nav>
-->
  <main>